@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;

  background-color: #222;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-width: 375px;
  height: 100%;
  min-height: 100vh;
  background-image: url("./assets/images/app-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 76%;
    margin: 0 auto;
  }

  &__body-fields {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0.19rem, calc(0.03rem + 0.7vw), 0.63rem);
    margin-bottom: 0.5%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2867/4669;
    background-image: url("./assets/images/header-frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 360/91;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    filter: blur(clamp(0.31rem, calc(0.04rem + 1.16vw), 0.5rem));
    background-image: url("./assets/images/header-bg.gif");
    transform: rotate(-180deg);
    mix-blend-mode: plus-lighter;
  }
  &__decoration {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__decoration-left,
  &__decoration-right {
    position: absolute;
    aspect-ratio: 359/214;
    filter: blur(5px);
    mix-blend-mode: color-dodge;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 42.8%;
    top: 4%;
    opacity: 0.5;
  }

  &__decoration-left {
    background-image: url("./assets/images/fire.gif");
    transform: rotate(29deg);
    left: 0;
  }

  &__decoration-right {
    background-image: url("./assets/images/fire-right.gif");
    right: -1%;
    transform: rotate(-34deg) scaleX(-1);
  }

  &__decoration-middle {
    aspect-ratio: 400/989;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    filter: blur(47.79999923706055px);
    background: url("./assets/images/middle-gif.gif");
    background-position: 21% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    mix-blend-mode: lighten;
    opacity: 0.4;
    width: 25%;
  }

  &__jackpot-value {
    position: relative;
    display: flex;
    margin-top: -6%;
    font-size: clamp(6.44rem, calc(2.5rem + 5.83vw), 7.75rem); // 144px;//
    transition: cubic-bezier(0.37, 0.69, 0.71, 0.51);
    transform-origin: center;
    will-change: transform;
    animation-name: scaleUpDown;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    // @media (max-width: 1079.99px) {
    //   font-size: clamp(1.88rem, calc(-0.05rem + 8.23vw), 5.5rem);
    // }
    &::before {
      aspect-ratio: 209/279;
      content: "";
      position: absolute;
      top: -15%;
      left: 3%;
      display: block;
      width: 15%;
      z-index: 1;
      animation-name: glareAnimation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      background-image: url("./assets/images/blick.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.1;
    }
  }
}

@keyframes glareAnimation {
  0% {
    top: -15%;
    left: 3%;
  }
  30% {
    left: 91%;
    top: 10%;
  }
  55% {
    left: 91%;
    top: 10%;
  }
  65% {
    top: -15%;
    left: 3%;
  }
  100% {
    top: -15%;
    left: 3%;
  }
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1) translateY(0);
  }
  30% {
    transform: scale(1.15) translateY(2%);
  }
  55% {
    transform: scale(1.15) translateY(2%);
  }
  65% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.body-field {
  aspect-ratio: 77030553188963460/6321224289479557;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.04);
  width: 100%;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./assets/images/border-field.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    aspect-ratio: 2574088662018949/13229323905400832;
    z-index: 1;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
    transform: rotate(180deg);
  }

  &:first-child {
    background-image: url("./assets/images/first-field-bg.svg");
    background-position: center;
    background-size: cover;
    .body-field__snake {
      position: absolute;
      inset: 10px;
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 10px;
      }
    }
  }

  &__range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5%;
    font-size: clamp(1.25rem, calc(0.28rem + 4.13vw), 4rem);
    color: #fff;
    width: 7%;
  }

  &__result {
    display: flex;
    justify-content: space-around;
    gap: 4%;
    max-width: 73%;
    width: 100%;
  }
}

.result-item {
  display: flex;
  align-items: center;
  gap: clamp(0.19rem, calc(0.03rem + 0.66vw), 0.4rem);
  &__ranks {
    font-size: clamp(4rem, calc(-2rem + 8.89vw), 6rem);
    line-height: 0;
    -webkit-text-stroke: 2px #fff;
    // @media (max-width: 1079.99px) {
    //   font-size: clamp(1.38rem, calc(-0.02rem + 5.96vw), 4rem);
    // }
    &.clubs {
      color: #33ff00;
    }
    &.hearts {
      color: #d40101;
    }
    &.diamonds {
      color: #ff4b4b;
    }
    &.spades {
      color: #000;
    }
  }
  &__icon {
    aspect-ratio: 1/1;
    width: clamp(3.13rem, calc(-1.37rem + 6.67vw), 4.63rem);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.clubs {
      background-image: url("./assets/images/сlubs.png");
    }
    &.hearts {
      background-image: url("./assets/images/hearts.png");
    }
    &.diamonds {
      background-image: url("./assets/images/diamonds.png");
    }
    &.spades {
      background-image: url("./assets/images/spades.png");
    }
    @media (max-width: 1079.99px) {
      width: clamp(1.25rem, calc(0.25rem + 4.26vw), 3.13rem);
    }
  }
}

.footer {
  &__container {
    position: relative;
    max-width: 89%;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    font-size: clamp(0.56rem, calc(0.21rem + 1.79vw), 1.81rem);
    color: #fff;
    margin-bottom: -1.5%;
  }
}
.coefficients,
.hot,
.ice {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    mix-blend-mode: plus-lighter;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
}

.coefficients {
  aspect-ratio: 1163/211;
  background-image: url("./assets/images/coefficients-frame.svg");
  margin: 0 4.2% -5.5%;
  &__items {
    gap: 6.5%;
  }
}

.hot {
  aspect-ratio: 634/173;
  background-image: url("./assets/images/hot-frame.png");
  margin-bottom: -11%;
  &::before {
    inset: 33% 8% 33% 8%;
    background: url("./assets/images/hot-bg.gif");
    background-position: center 29%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: rotate(-180deg);
  }
  &__items {
    gap: clamp(0.63rem, calc(0.23rem + 1.69vw), 1.75rem);
    margin-right: 8.5%;
    margin-left: 26%;
  }
}

.ice {
  aspect-ratio: 1282/301;
  background-image: url("./assets/images/ice-frame.png");
  margin-left: -1%;
  &::before {
    inset: 35% 8% 12% 8%;
    background: url("./assets/images/ice-bg.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    inset: 39% 8% 12% 8%;
  }
  &__items {
    gap: clamp(0.63rem, calc(0.23rem + 1.69vw), 1.75rem);
    margin-top: 4%;
    margin-right: 8.5%;
    margin-left: 26.5%;
  }
}

.coefficients-item {
  aspect-ratio: 1/1;
  width: 11.2%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/images/coefficients-item-bg.svg");
  text-align: center;
  &__ranks {
    font-size: clamp(0.56rem, calc(0.1rem + 1.97vw), 1.88rem);
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    margin-top: 2%;
  }
  &__icon {
    aspect-ratio: 1/1;
    width: 59.85%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.clubs {
      background-image: url("./assets/images/сlubs.png");
    }
    &.hearts {
      background-image: url("./assets/images/hearts.png");
    }
    &.diamonds {
      background-image: url("./assets/images/diamonds.png");
    }
    &.spades {
      background-image: url("./assets/images/spades.png");
    }
  }
}

.hot-item,
.ice-item {
  display: grid;
  grid-template-columns: 1fr clamp(1.13rem, calc(0.09rem + 4.41vw), 4.06rem);
  grid-template-rows: auto 1fr;
  align-items: center;
  &__ranks {
    font-size: clamp(1rem, calc(-0.28rem + 5.45vw), 4.63rem);
    line-height: 1;
    -webkit-text-stroke: 2px #fff;
    &.clubs {
      color: #33ff00;
    }
    &.hearts {
      color: #d40101;
    }
    &.diamonds {
      color: #ff4b4b;
    }
    &.spades {
      color: #000;
    }
  }
  &__icon {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 13%;
    &.clubs {
      background-image: url("./assets/images/сlubs.png");
    }
    &.hearts {
      background-image: url("./assets/images/hearts.png");
    }
    &.diamonds {
      background-image: url("./assets/images/diamonds.png");
    }
    &.spades {
      background-image: url("./assets/images/spades.png");
    }
  }
  &__value {
    font-family: "Quantico", sans-serif;
    font-size: clamp(0.88rem, calc(0.3rem + 2.44vw), 2.5rem);
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    grid-column: 1 / -1;
  }
}

.ticker-view .ticker-column-container .ticker-digit {
  text-align: center;
  span {
    text-align: end;
    text-transform: uppercase;
    background: linear-gradient(
      165deg,
      #bf7943 0%,
      #ffe977 42.5%,
      #c27a44 63.5%,
      #ffe977 82.42%,
      #c27a44 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 700%;
  }
}

.ticker-view {
  span {
    background: linear-gradient(
      165deg,
      #bf7943 0%,
      #ffe977 42.5%,
      #c27a44 63.5%,
      #ffe977 82.42%,
      #c27a44 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@for $i from 1 through 7 {
  .ticker-view .ticker-column-container:nth-child(#{$i}) .ticker-digit {
    span {
      background-position: #{($i - 1) * 14.2857%};
    }
  }
}

.ticker-view .ticker-column-container:last-child .ticker-digit {
  text-align: end;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.snake-border {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snake-border span {
  position: absolute;
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 227, 78, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.snake-border span:nth-child(1) {
  transform: translateX(-100%);
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(0.06rem, calc(0.01rem + 0.27vw), 0.25rem);
  animation: animate1 2s linear infinite;
}

.snake-border span:nth-child(2) {
  transform: translateY(-100%);
  top: 0;
  right: 0;
  width: clamp(0.06rem, calc(0.01rem + 0.27vw), 0.25rem);
  height: 100%;
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}

.snake-border span:nth-child(3) {
  transform: translateX(100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(0.06rem, calc(0.01rem + 0.27vw), 0.25rem);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

.snake-border span:nth-child(4) {
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: clamp(0.06rem, calc(0.01rem + 0.27vw), 0.25rem);
  height: 100%;
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}
